* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    width: 100%;
    height: 70px;
    margin: 0 auto;
    justify-content: space-between;
    background-color: rgb(159, 207, 203);
}

.nav .logo {
    margin: 5px;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
}

.nav ul {
    list-style: none;
    
}

.nav ul a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0.3em;
    padding: 0.5em 1.5em;
    border-radius: 10px;
}

.prod {
    font-size: 1.1rem;
    color: rgb(255, 253, 253);
    position: relative;
    left: -30%;
    margin: 5px;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(159, 207, 203);
    margin: 10px;
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* grid-gap: 2px; */
    width: 90%;
    margin: 10px;
    padding: 30px;
    
}

.card {
    display: flex;
    justify-content: right;
    align-items: stretch;
    /* display: grid;
    grid-gap: 2px; */
    
    margin: 10px 20px 10px 20px;
    padding: 5px 30px 5px 30px;
    /* box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(151, 141, 141); */
    box-shadow: 0 5px 5px rgba(82, 79, 70, 0.897), 0px 0px 5px rgb(99, 96, 87);
    border: none;
    border-radius: 5px;
}
.card img {
    position: relative;
    margin: 2px 2px 2px 2px;
    padding: auto;
    width: 200px;
}

.price {
    width: auto;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: relative;
    right: -50px;
    bottom: -30px;
    color: rgb(8, 233, 147);
    font-size: 1.2rem;

    
}

.card_header{
  
    display: grid;
    grid-template-columns: auto auto;
    /* grid-row-gap: 10px; */
}



h2  {
    position: relative;
    top: 55%;
    right: 50%;
    font-size: 14px;
    font-weight: bold;
    width: 50px;
    white-space: nowrap;
}

.position {
    width: auto;
    position: relative;
    top: 20%;
    left: 70%;
}

